{% extends 'main.html' %}

{% block additional_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
{% endblock %} 


{% block content %}

<div class="header">

    <a class="nav-button" id="home" href="{{ url_for('main.homepage')}}"> <i class="fa-solid fa-house nav-icon"></i> </a> 

    <div id="manageDateContainer" class="manage-date-container">
        <a class="nav-button" id="manageDateButton" href = "{{ url_for('main.manage_dates') }}">
            <i class="icon-button fas fa-calendar-plus"></i> Manage Dates
        </a>
    </div>

    <div class="right-buttons">

        <!-- Like Dropdown -->
        <div class="dropdown">
            <button class="nav-button icon-button" id="liked" onclick="toggleDropdown('likedDropdown')" aria-label="View Liked Users">
                <i class="fas fa-heart nav-icon"></i>
            </button>
            <div class="dropdown-content" id="likedDropdown">
                    
                {% if user.liking and user.liking|length > 0 %}
                    {% for liked_user in user.liking %}
                        <a href = "{{url_for('main.other_profile', user_id = liked_user.id)}} ">
                            <div class="dropdown-item">

                                <div class="dropdown-photo">
                                    {% if liked_user.profile.photos %}
                                        {% for photo in liked_user.profile.photos if photo.is_profile_photo %}
                                            <img src="{{ url_for('static', filename='img/photo-' ~ photo.id ~ '.' ~ photo.file_extension) }}" alt="Profile Photo">
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                
                                <div class="dropdown-text">
                                    <div>{{ liked_user.profile.name }} {{ liked_user.profile.lastname }}</div> 
                                    <div> {{ liked_user.age }}</div>
                                </div>

                            </div>
                        </a>
                    {% endfor %}

                {% else %}
                    <span><em>No liked users.</em></span>
                {% endif %}
            </div>
        </div>
    
        <!-- Block Dropdown -->
        <div class="dropdown">
            <button class="nav-button icon-button" id="blocked" onclick="toggleDropdown('blockedDropdown')" aria-label="View Blocked Users">
                <i class="fas fa-ban nav-icon"></i>
            </button>
            <div id="blockedDropdown" class="dropdown-content">
                {% if user.blocking and user.blocking|length > 0 %}
                    {% for blocked_user in user.blocking %}
                        
                    <a href = "{{url_for('main.other_profile', user_id = blocked_user.id)}} ">
                        <div class="dropdown-item">

                            <div class="dropdown-photo">
                                {% if blocked_user.profile.photos %}
                                    {% for photo in blocked_user.profile.photos if photo.is_profile_photo %}
                                        <img src="{{ url_for('static', filename='img/photo-' ~ photo.id ~ '.' ~ photo.file_extension) }}" alt="Profile Photo">
                                    {% endfor %}
                                {% endif %}
                            </div>
                            
                            <div class="dropdown-text">
                                <div>{{ blocked_user.profile.name }} {{ blocked_user.profile.lastname }}</div> 
                                <div> {{ blocked_user.age }}</div>
                            </div>

                        </div>
                    </a>
                    
                    {% endfor %}

                {% else %}
                    <span><em>No blocked users.</em></span>
                {% endif %}
            </div>
        </div>
    
        <a href="{{ url_for('main.modify') }}" class="nav-button icon-button" id="modify">
            <i class="fa-solid fa-gear nav-icon"></i>
        </a>

        <a href="{{ url_for('auth.logout')}}" class="nav-button" id="logout" > 
            <i class="fa-solid fa-right-from-bracket"></i> 
        </a> 
    </div>
</div>


<section class="page-content">

    <section class="main-content">
        <!-- Profile Section -->
        <section class="profile-section">
            <div class="profile-photo">
                {% if user.profile.photos %}
                    <!-- Display the main profile photo -->
                    {% for photo in user.profile.photos if photo.is_profile_photo %}
                            <img src="{{ url_for('static', filename='img/photo-' ~ photo.id ~ '.' ~ photo.file_extension) }}" alt="Profile Photo">
                    {% endfor %}
                {% endif %}
            </div>

            <div class="profile-info">
                <h1>{{ user.profile.name|upper }} {{ user.profile.lastname|upper }}</h1>
                <h2><p class="age">{{ current_user.age }}, {{ current_user.gender.value.replace('_', '-') }}</p></h2>
                <p class="bio">{{ current_user.profile.bio }}</p>
            </div>
        </section>

        <!-- Extra Photos Section -->
        <section class="user-photos">
            <div class="user-photos-header">
                <h3>PHOTOS:</h3>
                <button class="nav-button" id="edit-mode" onclick="toggleEditMode()">
                    <i class="fa-solid fa-pen-to-square nav-icon"></i>
                </button>
            </div>

            <div class="photos-grid">
                <!-- Display extra photos in blocks of 3 -->
                {% for photo in user.profile.photos if not photo.is_profile_photo %}
                    
                    <div class="photo-block">
                        <img src="{{ url_for('static', filename='img/photo-' ~ photo.id ~ '.' ~ photo.file_extension) }}" alt="Extra Photo" class="clickable-photo" onclick="showFullPhoto(this)">
                        <button class="delete-photo" onclick="deletePhoto({{ photo.id }})">X</button>
                    </div>
                    
                {% endfor %}

                <!-- Add Photo Block -->
                <div class="photo-block add-photo">

                    <button class="add-photo-button" onclick="showAddPhotoForm()">
                        <div class="plus-sign">+</div>
                        <div class="add-photo-text">Add Photo</div>
                    </button>

                    <!-- Hidden upload form -->
                    <form id="add-photo-form" action="{{ url_for('main.add_photo_post') }}" method="post" enctype="multipart/form-data">
                        <input type="file" name="photo" accept="image/*" required id="photo-input">
                        <div id="photo-preview"></div>
                        <button type="submit">Upload</button>
                    </form>
                </div>
            </div>
        </section>

    </section>

    <!-- Matching Profiles Section -->
    <section class="right-column">
        <div class="column-header">
            <h2>MATCHING PROFILES</h2>
            <h4>Schedule a Date!</h4>
        </div>
        
        <div class="scrollable-content">
            {% if matches and matches|length > 0 %}
                {% for match in matches %}
                    <div class="match-template">
                        <a href = "{{url_for('main.other_profile', user_id = match.id)}} ">
                        
                            <div class="match-photo">
                                {% if match.profile.photos %}
                                    {% for photo in match.profile.photos if photo.is_profile_photo %}
                                        <img src="{{ url_for('static', filename='img/photo-' ~ photo.id ~ '.' ~ photo.file_extension) }}" alt="Profile Photo">
                                    {% endfor %}
                                {% endif %}
                            </div>
        
                            <div class="match-info">{{ match.profile.name }} {{ match.profile.lastname }}, {{ match.age }}</div>
                        </a>
                    </div>
                    
                {% endfor %}
            {% else %}
                <span><em>NO MATCHES YET.</em></span>
            {% endif %}
        </div>
    </section>
</section>



<!-- PHOTO FULL SIZE VIEW -->

<div id="fullPhotoBlock" class="full-photo">
    <div class="full-photo-content">
        <span class="close-button" onclick="hideFullPhoto()"><i class="fa-regular fa-circle-xmark"></i></span>
        <img id="fullPhoto" src="" alt="Large View">
    </div>
</div>

    
{% endblock %}

{% block scripts %} 
<script src="{{ url_for('static', filename='js/dropdown.js') }}"></script> 
<script src="{{ url_for('static', filename='js/editmode.js') }}"></script> 
<script src="{{ url_for('static', filename='js/addphoto.js') }}"></script> 

{% endblock %}





