{% extends "main.html" %}

{% block content %}
<h2>Change Password</h2>
<form action="{{ url_for('auth.change_password') }}" method="post">
    <div>
        <label for="current_password">Current Password:</label>
        <input type="password" name="current_password" id="current_password" required>
    </div>
    <div>
        <label for="new_password">New Password:</label>
        <input type="password" name="new_password" id="new_password" required>
    </div>
    <div>
        <label for="confirm_password">Confirm New Password:</label>
        <input type="password" name="confirm_password" id="confirm_password" required>
    </div>
    <button type="submit">Change Password</button>

    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <div class="notification">{{ message }}</div>
        {% endfor %}
    {% endwith %}
    
</form>
{% endblock %}
