{% extends 'main.html' %}

{% block additional_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
{% endblock %} 

{% block content %}

<div class="form-block">
    <form action="{{ url_for('auth.signup2') }}" method="post" enctype="multipart/form-data">   <!-- enctype + method post so we can upload files to the server -->

        <h2>Complete Your Profile</h2>
        
        <div class="input-text2">
            <label> Profile Picture: </label>
            <label for="profile-pic"><i class="fa-regular fa-image photo-icon"></i></label>
            <input type="file" name="profilepic" id="profile-pic" accept="image/jpg, image/jpeg, image/png" required>
            <img src="{{ url_for('static', filename='img/default.jpg') }}" alt="Profile Picture" id="profile-pic-preview" class="preview-img">
        </div>

        <div class="input-text2">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" maxlength="64" required>
        </div>

        <div class="input-text2">
            <label for="lastname">Last Name:</label>
            <input type="text" name="lastname" id="lastname" maxlength="64" required>
        </div>
        

        <div class="input-text2">
            <label for="gender">Gender:</label>
            <select name="gender" id="gender" required>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Non_Binary">Non-Binary</option>
                <option value="Other">Other</option>
            </select>
        </div>
        
        <div class="input-text2">
            <label for="birth">Year of Birth:</label>
            <input type="number" name="birth" id="birth" min="1900" max="{{ current_year }}" required>
        </div>

        <div class="input-text2">
            <label for="bio">Description:</label>
            <textarea name="bio" id="bio" maxlength="700" placeholder="Tell us about yourself"></textarea>
        </div>

        <!-- Interests in Genders -->
        <div class="input-text2">
            <label for="gender_interest">Who are you interested in?</label>
            <fieldset required>
                <div class="checkbox-group">
                    <label><input type="checkbox" name="gender_interest" value="Male" /> Male</label>
                    <label><input type="checkbox" name="gender_interest" value="Female" /> Female</label>
                    <label><input type="checkbox" name="gender_interest" value="Non_Binary" /> Non-Binary</label>
                    <label><input type="checkbox" name="gender_interest" value="Other" /> Other</label>
                </div>
            </fieldset>
        </div>

        <!-- Age Range of Interest -->
        <div class="input-text2">
            <strong>Preferred Age Range:</strong>
            <div>
                <label for="min_age_diff">Age Difference (youngest):</label>
                <input type="number" name="min_age_diff" id="min_age_diff" min="0" max="90" oninput="updateAgeRange()"/>
                <small>Maximum age difference younger than you that you are interested in.</small>
                <span id="youngest-age"></span>
                <div id="age-warning"></div>
            </div>
            <div>
                <label for="max_age_diff">Age Difference (oldest):</label>
                <input type="number" name="max_age_diff" id="max_age_diff" min="0" max="90" oninput="updateAgeRange()"/>
                <small>Maximum age difference over you that you are interested in.</small>
                <span id="oldest-age"></span>
            </div>
        </div>
        
        <button type="submit" class="loginButton">COMPLETE SIGNUP</button>

        {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                <div class="notification">{{ message }}</div>
            {% endfor %}
        {% endwith %}

        
    </form>
</div>

{% endblock %}


{% block scripts %} 
<script src="{{ url_for('static', filename='js/modify.js') }}"></script> 
{% endblock %}


